.card {
  border-color: transparent;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  font-family: 'Roboto Thin';
}

.title {
  font: 600 35px 'Arial';
  text-align: left;
  margin-top: 1rem;
}

*,
footer,
.sticki-bottom p {
  font-family: 'Roboto';
}

/* Estilos para el campo de entrada */
input[type="text"] {
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  border: none;
}


.logo {
  width: 4%;
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1615363227873-b9c73fdf3e65?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0MTg3MTZ8MHwxfHNlYXJjaHw3fHxpbnRlcnN0ZWxsYXJ8ZW58MHx8fHwxNjg0NDMwMTI4fDA&ixlib=rb-4.0.3&q=80&w=raw');
  background-size: cover;
  background-position: center;
  padding: 10%;
  color: #ffffff;
}

.transparent {
  padding-top: 0%;
}

.badge {
  position: absolute;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px;
  background-color: #ffffff;
  height: 30px;
  display: none;
}

.card:hover .badge {
  display: flex;
  transition: ease-in 1s;
}

.Pagination a {
  color: black;
}

.card-img-top {
  border-radius: 0px;
  padding: 0;
}

.sticki-bottom p {
  margin: 4px;
}

.pagination li {
  margin: 10px;

}

.page-link {
  padding: 0 7px;
  border-radius: 5px;
  border: none;
}